body,html {
    font-family: Arial;
    text-align: center;
    background: black;
    padding: 0;
    margin: 0;
    transition: background .3s linear;
    color:  #1784FB;
    overflow: hidden;
}

.container{
    display: inline-block;
    margin-top: 80px;
    width: 300px;
    height: 300px;
    border: solid #1784FB 3px;
    padding: 20px;
    border-radius: 50%;
    position: relative;
}

.loader {
    position: absolute;
    left: -2px;
    top: -2px;
    height: 100%;
    width: 100%;
    border-top: solid white 6px;
    border-radius: 50%;
    animation: spin 5s linear infinite;
    pointer-events: none;
}


h1 {
    font-size: 40px;
    margin-bottom: 0;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 20px;
}

.result {
    pointer-events: all;
}

a, a:visited, a:active{
    color: #1784FB;
    font-size: 14px;
    word-wrap:break-word;
    cursor: pointer;
    z-index: 20;
}

a:hover {
    color: white;
}

.header, .result {
    margin-top: 50px;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .container {
        width: 500px;
        height: 500px;
        padding: 50px;
    }
    .header, .result {
        margin-top: 110px;
    }
    h1 {
        font-size: 70px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 24px;
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}