<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Coming soon : {{pageName}}</h4>
                <p class="category">This feature is not available yet, but stay tuned!</p>

            </div>
            <div class="content">
                <p>{{comingSoon[pageName]}} (Preview)</p>
                <p>Manage a MySQL database that is hosted right in your web browser. Any tables here (except the example tables) will persist across sessions.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <div class="input-group">
                    <input placeholder="SELECT * FROM table" type="text" class="form-control" style="padding-right:20px;">
                    <span class="input-group-btn" style="padding-left:20px;">
                        <button class="btn btn-round btn-fill btn-info">Submit SQL Query</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="table in tableList">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Table: {{table.name}}</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-users">
                    <thead>
                        <th ng-repeat="col in table.columns">{{col}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in table.rows">
                            <td ng-repeat="col in table.columns">{{row[col]}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>