<div class="row">
    <div class="col-md-12">
        <div class="card" ng-if="!deploying">
            <div class="header">
                <h4 class="title">Instantly host a website or virtual server.</h4>
                <br>
                <p class="category">At least one file named "index.html" is required.</p>
                <p class="category">To learn more, see the docs.</p>
            </div>
            <div class="content">
                <!--ngf-drop="addFiles($files)" ngf-drag-over-class="dragover" ngf-multiple="true"-->
                <div ng-if="!isChrome && !deploying"  class="hyper-dropzone">
                    <div>
                        <!--<p>Drag files here.</p>-->
                        <p class="text-danger">Only Chrome is supported right now.</p>
                        <!--
                        <p>or</p>
                        <div class="file-upload">
                            <label for="upload" class="file-upload__label">Upload Files</label>
                            <input hyperhost-upload id="upload" class="file-upload__input" type="file" name="file-upload">
                        </div>
-->
                    </div>
                </div>
                <div hyperhost-drop ng-if="isChrome && !deploying" class="hyper-dropzone" ng-class="fullscreenDrop">
                    <div>
                        <p>Drag and drop folders and files here.</p>
                        <!--
                        <p>or</p>
                        <div class="file-upload">
                            <label for="upload1" class="file-upload__label">Upload Folder</label>
                            <input hyperhost-upload id="upload1" class="file-upload__input" type="file" name="file-upload" webkitdirectory="true" directory="">
                        </div>
                        <div class="file-upload">
                            <label for="upload2" class="file-upload__label">Upload Files</label>
                            <input hyperhost-upload id="upload2" class="file-upload__input" type="file" name="file-upload" multiple>
                        </div>
-->
                    </div>
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            </div>
        </div>
        <div class="card" ng-if="deploying">
            <div class="header">
                <h4 ng-if="!deployed" class="title">Please wait while HyperHost processes your files..</h4>
                <h4 ng-if="deployed" class="title">Voila! Your site is hosted!</h4>
            </div>
            <div class="content">
                <div ng-if="deployed">
                    <p>Anyone with a WebRTC-enabled browser can visit your site at:</p>
                    <h4><a class="text-success" target="_blank" href="{{clientURL}}">{{ clientURL }}</a></h4>   
                </div>
            </div>
        </div>
        <div class="card" ng-if="deploying">
            <div class="header">
                <h4 class="title">Console</h4>
                <br>
                <p class="category">Detailed information will be displayed here.</p>
            </div>
            <div class="content">
                <div class="console">
                    <p ng-repeat="log in logs" ng-class="log.class">
                        {{ log.msg }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>