<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Coming soon : {{pageName}}</h4>
                <p class="category">This feature is not available yet, but stay tuned!</p>

            </div>
            <div class="content">
                <p>{{comingSoon[pageName]}} (Preview)</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">
                <div class="input-group">
                    <input placeholder="Search HyperHost" type="text" class="form-control" style="padding-right:20px;">
                    <span class="input-group-btn" style="padding-left:20px;">
                        <button class="btn btn-round btn-fill btn-info">Search HyperHost</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>