<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header text-center">
                <h4 class="title">HyperHost PRO</h4>
                <p class="category">
                    <br>HyperHost will always be free.
                    <br>Please consider supporting the project by upgrading to Pro.</p>
                <br>
            </div>
            <div class="content table-responsive table-full-width table-upgrade">
                <table class="table">
                    <thead>
                        <th></th>
                        <th class="text-center">Free</th>
                        <th class="text-center">Premium</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P2P Hosting</td>
                            <td><i class="fa fa-check text-success"></td>
                            <td><i class="fa fa-check text-success"></td>
                        </tr>
                        <tr>
                            <td>Instant Hosting</td>
                            <td><i class="fa fa-check text-success"></td>
                            <td><i class="fa fa-check text-success"></td>
                        </tr>
                        <tr>
                            <td>Offline Hosting</td>
                            <td><i class="fa fa-times text-danger"></i></td>
                            <td><i class="fa fa-check text-success"></td>
                        </tr>
                        <tr>
                            <td>Support for All Browsers</td>
                            <td><i class="fa fa-times text-danger"></i></td>
                            <td><i class="fa fa-check text-success"></td>
                        </tr>
                        <tr>
                            <td>Physical Database</td>
                            <td><i class="fa fa-times text-danger"></i></td>
                            <td><i class="fa fa-check text-success"></td>
                        </tr>
                        <tr>
                            <td>Technical Support</td>
                            <td><i class="fa fa-times text-danger"></i></td>
                            <td><i class="fa fa-check text-success"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="#" class="btn btn-round btn-fill btn-default">No Thanks</a>
                            </td>
                            <td>
                                <a target="_blank" href="#" class="btn btn-round btn-fill btn-info">Upgrade To Pro</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>